#administratorrole-container {
    padding-bottom: 40px;

    .topic-text {
        font-size: 30px;
        margin-top: 14px;
        font-weight: 700;
        line-height: 36.31px;
        color: var(--1D26);


    }
    .maintable-container{
        background-color: #ffffff;
        border-radius: 12px;
margin-top: 25px;
  border: 1px solid var(--e7ea);
//   padding: 26px;
.table-header{
    padding: 16px 26px 16px 26px;
    border-bottom: 1px solid var(--e7ea);
}
    }
}