.usersidebar-container {
    height: calc(100vh - 111px); 
    width: 80px;
    background-color: #F8F9FA;
    border: 1px solid black;
    overflow-y: auto;
    p{
        font-family: Inter;
font-size: 12px;
font-weight: 500;
line-height: 14.52px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

    }
}
