.user-sidebar-container {
    padding: 24px 10px;
    width: 80px;
    background-color: var(--eaf1);
    min-height: calc(100vh - 166.55px);
    height: 100%;

    .menu-item-name {
        font-size: 12px;
        font-weight: 500;
        line-height: 14.52px;
        color: var(--3333);
        margin-top: 4px;
        text-align: center;

    }

    .active-n {
        color: var(--113D);
    }
}