#date-picker-container {
    width: 100%;
    .react-datepicker-wrapper {
        width: 100%;
    }
    .input-container {
        position: relative;
        .close-icon {
            position: absolute;
            right: 24px;
            top: 11px;
            background-color: transparent;
            padding: 0px 5px 0px 5px;
            display: flex;
            img {
                height: 18px;
            }
        }

        input {
            width: 100%;
            border-radius: 4px;
            outline: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border: 1px solid var(--dddd);
            height: 56px;
            padding: 13px 25px 13px 16px;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.5px;
            white-space: nowrap;
            text-overflow: ellipsis;
            background-color: var(--f7f7);
            color: var(--1b1f);
        }

        :disabled {
            // background-color: var(--f2f2);
            opacity: 0.5;
            cursor: not-allowed;
        }
        ::placeholder {
            color: var(--1b1f);
            opacity: 1; /* Firefox */
        }
        :-ms-input-placeholder {
            color: var(--1b1f);
        }
        ::-ms-input-placeholder {
            color: var(--1b1f);
        }
    }
    .custom-date-header {
        button {
            padding: 5px 10px;
            border: 0.5px solid var(--1b1f);
            border-radius: 5px;
        }
        select {
            padding: 5px 10px 5px 5px;
            border: 0.5px solid var(--1b1f);
            &:focus-visible {
                outline: unset;
            }
        }
    }
}
