#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    flex-direction: column;
    position: relative; /* Ensure the container is the positioning context */

    &::after {
        content: ''; /* Necessary for the pseudo-element */
        position: absolute;
        top: 0;
        right: 0;
        width: 300px; /* Set the width of the image */
        height: 300px; /* Set the height of the image */
        background-image: url('../../../../assets/images/icons/login-bg1.png'); /* Set the image URL */
        background-size: cover; /* Ensure the image covers the area */
        background-position: center; /* Center the image in the box */
        @media (max-width : 768px) {
          width: 200px; /* Set the width of the image */
          height: 200px; /* Set the height of the image */
        }
    }
    &::before {
      content: ''; /* Necessary for the pseudo-element */
      position: absolute;
      bottom: 0;
      left: 0;
      width: 300px; /* Set the width of the image */
      height: 300px; /* Set the height of the image */
      background-image: url('../../../../assets/images/icons/login-bg2.png'); 
      background-size: cover; /* Ensure the image covers the area */
      background-position: center; /* Center the image in the box */
      @media (max-width : 768px) {
        width: 200px; /* Set the width of the image */
        height: 200px; /* Set the height of the image */
      }
  }
    .login-card {
      width: 100%;
      max-width: 480px;
      max-height: 480px;
      border: 1px solid #E7EAEE;
      padding: 40px 40px 20px 40px;
   .login-text{
    h1{
        font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 24px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color : #1D2630;
padding-top: 16px;
padding-bottom: 16px;
    }
   }
      .forgot-password {
        cursor: pointer;
        display: block;
        font-size: 14px;
        color: var(--113D);
        margin-bottom: 30px;
        text-decoration: none;
       
        &:hover {
          text-decoration: underline;
        }
        span{
          margin-top: 20px;
        }
      }
      .remember{
        span{
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color : #212529BF;
        padding-left: 6px;
      }

      }
      .login-btn{
        margin-bottom: 40px;
      }
    }
  
    @media (max-width: 768px) {
      .login-card {
        padding: 20px;
      }
    }
  
    @media (max-width: 480px) {
      .login-card {
        padding: 15px 15px 0px 15px;
      }
    }
  }
  