.details-container {
    .professional-top-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 12px;
        border-bottom: 1px solid var(--e0e9);
    }

    .details-text {
        font-size: 18px;
        font-weight: 500;
        line-height: 21.78px;
        color: var(--0303);
        margin-bottom: 0;
    }

    .details-box-main {
        margin-top: 36px;
    }

    .row-gap {
        row-gap: 24px;
    }

    .details-label {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        color: var(--9cb0);
        margin-bottom: 8px;
    }


    .details-name {
        font-size: 16px;
        font-weight: 500;
        line-height: 19.36px;
        color: var(--3333);
        text-wrap: wrap;
        margin-bottom: 0;
    }

    .text-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 21.78px;
        color: var(--113D);
        margin: 12px 0;
    }

    @media (max-width:768px) {
        .details-text {
            font-size: 16px;

        }

        .details-box-main {
            margin-top: 20px;
        }

        .row-gap {
            row-gap: 14px;
        }

        .details-label {
            font-size: 12px;
            margin-bottom: 6px;
        }

        .details-name {
            font-size: 14px;

        }

        .text-title {
            font-size: 16px;
            margin: 12px 0;
        }
    }
}