#checkbox-container {
  div {
    display: flex;

    input {
      height: 18px;
      width: 18px;
      margin-top: unset;
      border: 1px solid var(--3333);
      border-radius: 100px;

      &:focus {
        box-shadow: unset;
      }
    }

    .form-check-input:checked {
      border-color: transparent;
      background-color: var(--113D);
    }
  }


}