#checkbox-container {
  div {
    display: flex;

    input {
      height: 16px;
      width: 16px;
      margin-top: unset;
      border: 0.1px solid #8b8b8b;
      border-radius: 4px;

      &:focus {
        box-shadow: unset;
      }
    }

    .form-check-input:checked {
      border-color: transparent;
      background-color: var(--113D);
    }
  }

  .s-18 {
    input {
      height: 18px !important;
      width: 18px !important;
    }
  }



  .s-22 {
    input {
      height: 22px;
      width: 22px;

    }
  }

  .h-w-c {
    input {
      height: 25px;
      width: 25px;
    }
  }
}