.list-user-container {
    padding-bottom: 40px;

    .topic-text {
        font-size: 30px;
        margin-top: 14px;
        font-weight: 700;
        line-height: 36.31px;
        color: var(--1D26);


    }
}