#button-container {
  display: flex;
  height: fit-content;

  .btn-block {
    width: 100%;
    border: unset;
    outline: none;
    border-radius: 8px;
    padding: 0px 16px;
    max-height: 45px;
    padding: 10px 16px 10px 16px;
    font-family: "GilroySemibold", sans-serif !important;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-wrap: nowrap;

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }

  .BBA-hover:hover {
    background-color: var(--113D);
    color: var(--ffff);


  }

  .LGG {
    background-color: var(--075E4);
    color: #075E45;
    font-size: 16px;
  }

  .LSB {
    background-color: #00AAFF33;
    color: #00AAFF;
    font-size: 16px;
  }

  .Oo {
    background-color: var(--FA45);
    color: var(--ffff);
    font-size: 16px;
  }

  .Lb {
    background-color: var(--c92e);
    color: var(--9cb0);
  }

  .LBA {
    background-color: var(--ffff);
    color: var(--113D);
    border: 1px solid var(--113D);
  }

  .BA {
    background-color: var(--113D);
    color: var(--ffff);
  }

  .BTA {
    background-color: var(--f4f6);
    color: var(--113D);
  }

  .BTB {
    background-color: var(--113d);
    color: var(--113D);
  }

  .BBA {
    background-color: var(--ffff);
    border: 1px solid var(--3333);
    color: var(--3333);
  }

  .btn-f-s {
    font-family: "GilroyMedium";
    font-size: 18px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .LBB {
    background-color: var(--113d);
    border: 0.7px solid var(--113d);
    color: var(--113D);
  }

  .GGB {
    background-color: var(--EBEC);
    border: 0.7px solid var(--EBEC);
    color: var(--1D26);
    font-size: 14px;
    padding: 12px 24px;
  }

  .user-signup {
    background-color: var(--ffff);
    border: 0.7px solid var(--113D);
    color: var(--113D);
    font-size: 16px;
    padding: 15px 27px;

    @media (max-width: 500px) {
      padding: 8px 14px;
    }
  }

  .user-login {
    background-color: var(--113D);
    border: 0.7px solid var(--113D);
    color: var(--ffff);
    font-size: 16px;
    padding: 15px 36px;

    @media (max-width: 500px) {
      padding: 8px 14px;
    }
  }

  .BWP {
    background-color: var(--113D);
    border: 0.7px solid var(--113D);
    color: var(--fff);
    font-size: 14px;
    padding: 12px 24px;
  }

  .WBB {
    background-color: var(--ffff);
    border: 0.7px solid var(--0000);
    color: var(--0000);
    font-size: 18px;
  }

  .BB {
    background-color: var(--c1de);
    border: 0.7px solid var(--003e);
    color: var(--003e);
    font-size: 18px;
  }

  .PD {
    background-color: var(--113D);
    border: 1px solid var(--113D);
    color: var(--ffff);
  }

  .PDO {
    background-color: transparent;
    border: 1px solid var(--fe5c);
    color: var(--fe5c);
  }

  .PDB {
    background-color: transparent;
    border: 1px solid var(--003E);
    color: var(--003E);
  }

  .PG {
    border-radius: 800px;
    background-color: #5ea12a;
    color: var(--ffff);
    padding: 0px 20px;
  }

  .PI {
    background-color: var(--1a1f);
    color: var(--971a);
    padding: 0px 20px;
    border-radius: 800px;
  }

  .PB {
    background-color: #f29339;
    color: var(--ffff);
    padding: 0px 20px;
    border-radius: 800px;
  }

  .PDG {
    background-color: var(--ffff);
    border: 0.7px solid var(--eoeo);
    box-shadow: 0px 1px 4px 0px #00000012;
    color: var(--5151);
  }

  .PDR {
    background-color: transparent;
    border: 1px solid var(--1515);
    color: var(--1515);
  }

  .PDC {
    background: var(--ffff);
    border: 1px solid var(--a12a);
    color: var(--a12a);
  }

  .PDE {
    background: var(--e3e3);
    border: 1px solid var(--e3e3);
    color: var(--ffff);
  }

  .PDF {
    background: var(--ffff);
    border: 1px solid var(--1515);
    color: var(--1515);
  }

  .PDW {
    background-color: transparent;
    color: var(--fe5c);

    &:hover {
      border: 1px solid var(--fe5c);
    }
  }

  .PDD {
    background-color: var(--cfcf);
    border: 1px solid var(--cfcf);
    color: var(--ffff);
  }

  .PDDD {
    background-color: transparent;
    border: 1px solid var(--cfcf);
    color: var(--cfcf);
  }

  .SD {
    background-color: var(--8754);
    border: 1px solid var(--8754);
    color: var(--ffff);
  }

  .RD {
    background-color: var(--4639);
    border: 1px solid var(--4639);
    color: var(--ffff);
  }

  .WD {
    background-color: var(--ffc1);
    border: 1px solid var(--ffc1);
    color: var(--0000);
  }

  .DD {
    background-color: var(--0000);
    border: 1px solid var(--0000);
    color: var(--ffff);
  }

  .PO {
    background-color: var(--ffff);
    color: var(--0d6e);
    border: 1px solid var(--0d6e);
  }

  .SO {
    background-color: var(--ffff);
    color: var(--8754);
    border: 1px solid var(--8754);
  }

  .RO {
    background-color: var(--ffff);
    color: var(--dc35);
    border: 1px solid var(--dc35);
  }

  .WO {
    background-color: var(--ffff);
    color: var(--ffc1);
    border: 1px solid var(--ffc1);
  }

  .DO {
    background-color: var(--ffff);
    color: var(--0000);
    border: 1px solid var(--0000);
  }

  .GD {
    background-color: var(--edf0);
    color: var(--2749);
    border: 1px solid var(--edf0);
  }

  .og {
    color: var(--ffff);
    box-shadow: 0px 1px 4.5px 0px #00000024;
    box-shadow: 0px 2px 0px 0px #ff876d78 inset;
    background: #fe5c38;
  }

  .wo {
    background-color: var(--ffff);
    color: var(--dc35);
    border: 1px solid var(--dc35);
  }

  .RA {
    min-width: 120px;
    background-color: #f21e1eed;
    color: var(--ffff);
  }

  .GA {
    min-width: 120px;
    background-color: #27ae60;
    color: var(--ffff);
  }

  .wg {
    color: var(--0000);
    border: 0.7px solid var(--dddd) !important;
    background-color: var(--ffff);
  }

  .org-btn {
    color: var(--fe5c);
    border: 1px solid var(--fe5c) !important;
    background-color: transparent;
  }

  .b-w {
    border: 0.71px solid #e0e0e0 !important;
    background-color: var(--ffff);
    color: var(--5151);
    padding: 9px 12px !important;
    box-shadow: 0px 1.02px 4.06px 0px #00000012;
  }

  .Co {
    color: var(--ffff);
    border: 1px solid var(--4310) !important;
    background-color: var(--4310);
  }

  // .og-1 {
  //     color: var(--ffff);
  //     box-shadow: 0px 1px 4.5px 0px #00000024;
  //     box-shadow: 0px 2px 0px 0px #ff876d78 inset;
  //     background: #fe5c38;
  //     font-size: 16px;
  // }
  .og-w {
    font-size: 16px;
    color: var(--fe5c);
    background-color: var(--ffff);
    border: 0.71px solid var(--fe5c) !important;
  }

  .g-w {
    font-size: 16px;
    color: var(--ffff);
    border: 0.7px solid var(--6aba);
    background-color: var(--5ea1);
  }

  .btn-green {
    border: 0.7px solid var(--6aba);
    background-color: var(--6aba);
    color: var(--ffff);
    font-family: "GilroySemiBold", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    padding: 11px 16px !important;
  }

  .og-1 {
    color: var(--ffff);
    box-shadow: 0px 1px 4.5px 0px #00000024;
    box-shadow: 0px 2px 0px 0px #ff876d78 inset;
    background: #fe5c38;
    font-family: "GilroySemiBold", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    padding: 11px 16px !important;
  }

  .og-e {
    color: var(--ffff);
    box-shadow: 0px 1px 4.5px 0px #00000024;
    box-shadow: 0px 2px 0px 0px #ff876d78 inset;
    background: #fe5c38;
    font-family: "GilroySemiBold", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
  }

  .org-max {
    min-width: 407px;
    max-width: 407px;
    color: var(--ffff);
    background-color: var(--fe5c);
    min-height: 47px;
    padding: 10px;
    border-radius: 6px;
    font-family: "GilroyBold", sans-serif !important;
    font-size: 17px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .white-black-b {
    max-width: 95px;
    min-height: 37px;
    padding: 10px 16px;
    border-radius: 6px;
    box-shadow: 0px 1px 4px 0px #00000012;
    border: 0.7px solid var(--eoeo);
    background: var(--ffff);
    font-family: "GilroySemiBold", sans-serif !important;
    font-size: 17px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: var(--5151);
  }

  .btn-light-p {
    min-height: 31px;
    color: var(--2e60);
    border: 0.7px solid var(--2e60);
    background-color: var(--2e60e);
    font-family: "GilroyMedium", sans-serif !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    padding: 10px !important;
  }

  .org-btn-r {
    color: var(--fe5c);
    border: 1px solid var(--fe5c) !important;
    background-color: transparent;
    font-family: "GilroySemiBold", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
    min-height: 37px;
  }

  .org-btn-47 {
    color: var(--fe5c);
    border: 1px solid var(--fe5c) !important;
    background-color: transparent;
    font-family: "GilroySemiBold", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
    min-height: 47px;
  }

  .og-1 {
    color: var(--ffff);
    box-shadow: 0px 1px 4.5px 0px #00000024;
    box-shadow: 0px 2px 0px 0px #ff876d78 inset;
    background: #fe5c38;
    font-family: "GilroySemiBold", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    padding: 11px 16px !important;
  }

  .btn-l {
    width: 78px;
    max-height: 31px;
    min-height: 31px !important;
    padding: 0px 12px !important;
    border-radius: 4px;
    background-color: var(--e6e6);
    font-family: "GilroyMedium", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--1a1a);
  }

  .btn-l-g {
    width: 78px;
    max-height: 47px;
    min-height: 47px !important;
    padding: 0px 12px !important;
    border-radius: 4px;
    background-color: var(--e6e6);
    font-family: "GilroyMedium", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--1a1a);
  }

  .white-black-b {
    max-width: 95px;
    min-height: 37px;
    padding: 10px 16px;
    border-radius: 6px;
    box-shadow: 0px 1px 4px 0px #00000012;
    border: 0.7px solid var(--eoeo);
    background: var(--ffff);
    font-family: "GilroySemiBold", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: var(--5151);
  }

  .s-o-btn {
    width: 73px;
    min-height: 23px;
    padding: 10px 8px;
    border-radius: 6px;
    border: 0.7px solid #de583a;
    font-family: "GilroySemiBold", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--fe5c);
    background-color: var(--ffff);
    // box-shadow: inset 0px 1px 0px #d45e44;
    // filter: drop-shadow(0px 1px 4.5px rgba(0, 0, 0, 0.14));

    // box-shadow: 0px 1px 0px 0px #d45e44 inset;
  }

  .org-btn-s {
    width: 152px;
    min-height: 42px;
    padding: 10px 16px;
    border-radius: 6px;
    font-family: "GilroyMedium", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--fe5c);
    border: 1px solid var(--fe5c);
  }

  .og-43 {
    color: var(--ffff);
    box-shadow: 0px 1px 4.5px 0px #00000024;
    box-shadow: 0px 2px 0px 0px #ff876d78 inset;
    border-radius: 6px;
    background: #fe5c38;
    min-height: 43px;
    font-family: "GilroySemiBold", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--ffff);
    border: 0.7px solid #de583a;
  }

  .o-t-43 {
    min-height: 43px;
    padding: 10px 20px 10px 20px;
    border-radius: 6px;
    border: 1px solid #de583a;
    background-color: var(--ffff);
    color: var(--fe5c);
    font-family: "GilroySemiBold", sans-serif !important;
    font-size: 17px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
  }

  .upgrade-btn {
    width: 104px;
    min-height: 26px;
    background-color: var(--fe5c);
    box-shadow:
      0px 0.86px 3.89px 0px #00000024,
      0px 0.86px 0px 0px #d45e44 inset;
    line-height: 12.09px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--ffff);
  }

  .btn-l {
    width: 78px;
    max-height: 31px;
    min-height: 31px !important;
    padding: 0px 12px !important;
    border-radius: 4px;
    background-color: var(--e6e6);
    font-family: "GilroyMedium", sans-serif !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--1a1a);
  }

  .org-btn-1 {
    color: var(--fe5c);
    border: 1px solid var(--fe5c) !important;
    background-color: transparent;
    font-family: "GilroySemiBold", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    padding: 11px 16px !important;
  }

  .org-btn-2 {
    min-height: 37px;
    color: var(--fe5c);
    border: 1px solid var(--fe5c) !important;
    background-color: transparent;
    font-family: "GilroySemiBold", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
  }

  .b-w-37 {
    color: var(--ffff);
    box-shadow: 0px 1px 4.5px 0px #00000024;
    box-shadow: 0px 2px 0px 0px #ff876d78 inset;
    border-radius: 6px;
    background: #fe5c38;
    min-height: 37px;
    font-family: "GilroySemiBold", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--ffff);
    border: 0.7px solid #de583a;
  }

  .m-btn {
    min-width: 170px;
    height: 31px !important;
    min-height: 31px !important;
    background-color: var(--bc15);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--ffff);
    padding: 0;
  }

  @media (max-width: 576px) {
    .org-max {
      min-width: 280px;
      color: var(--ffff);
      background-color: var(--fe5c);
    }
  }
}