#feed-details-author-container {
  
  padding: 48px;

  .left-w-o {
    width: calc(100% - 317px);
  }

  .left-w {
    width: 100%;
  }

  .main-div {
    display: flex;
    gap: 24px;
  }

  .side-bar {
    max-width: 317px;
  }
  #summary {
    scroll-margin-top: 100px; // This creates space above the element when scrolling to it
  }

  .search-div-box {
    
    &.sticky-class{
      position: sticky;
      top: 0;
      background: white;
      z-index: 1000;
    }
    &.fixed-class{
      position: fixed;
      top: 13%;
      width:947px;
      background: white;
      z-index: 1000;
    }
  }



  .full-box {
    width: 100%;
    display: flex;
    padding: 18px 24px;
    margin-bottom: 22px;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid var(--e0e9);
    border-radius: 8px;
  }

  .feed-flex {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .post-title {
    width: 100%;
    max-width: 1078px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    color: var(--0303);
    margin-bottom: 8px;
    text-wrap: wrap;
    word-break: keep-all !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .journal-details {
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: rgba(17, 61, 205, 0.12);
    border-radius: 8px;
    margin-bottom: 16px;
  }

  .post-pra {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: var(--3333);
    // margin-bottom: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis !important;
  }

  .feed-published-box {
    width: 100%;
    padding: 16px;
    border: 1px solid var(--e0e9);
    border-radius: 8px;
    background-color: var(--ffff);
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .talk-us {
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 24px 8px 8px;
    background-color: #113dcd0f;
    border-radius: 8px;
  }

  .author-details {
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    border: 1px solid #e0e9f4;
    border-radius: 8px;
  }

  .sub-title-text {
    margin-top: 16px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    color: var(--0303);
  }

  .talkUsBtn {
    background-color: #113dcd;
    color: white;
    border-radius: 8px;
    padding: 16px 26px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    transition: all 0.3s;
    text-wrap: nowrap;
    border: 1px solid transparent;
  }

  .talkUsBtn:hover {
    background-color: white;
    color: #113dcd;
    border: 1px solid #113dcd;
  }

  .title-text {
    font-size: 32px;
    font-weight: 500;
    line-height: 38.73px;
    color: var(--0303);
  }

  .pra-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: var(--3333);
  }

  .span-pra {
    color: var(--113D);
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    width: 100%;
    text-wrap: wrap;
  }

  .link-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: var(--3333);
  }

  .right-side-text {
    color: black;
    font-size: 16px;
    font-weight: 400;
  }

  .right-side-text:hover {
    color: #113dcd;
    background-color: #f8f9fa;
    border-radius: 8px;
  }

  .pr-right-side-text {
    cursor: pointer;
  }

  .copy-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    color: var(--113D);
  }

  .show-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    color: var(--113D);
  }

  .pra-sm {
    margin-bottom: 26px;
  }

  .pra-m {
    margin-bottom: 16px;
  }

  .details-box {
    background-color: var(--f9f8);
    border-radius: 8px;
    padding: 18px;
  }

  .calender-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    color: var(--3333);

    span {
      text-decoration: underline;
    }
  }

  .b-c-details {
    background-color: var(--cd1f);
  }

  .post-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .review-box {
    margin-top: 28px;
    margin-bottom: 48px;
    background-color: #f9f8f8;
    padding: 28px;
    border-radius: 8px;
  }

  .review-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: var(--0303);
    margin-bottom: 0;
  }

  .review-pra {
    margin-top: 8px;
    max-width: 1128px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--33cc);
  }

  .search-box {
    display: flex;
    gap: 10px;
    margin-top: 5px;
  }

  .btn-search {
    width: 70%;
  }

  .btn-c {
    width: 30%;
    border-radius: 8px;
  }

  // .btn-c:hover {
  //   background-color: var(--113D);
  // }

  .side-items {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: var(--3333);
  }

  .side-t {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
  }

  .search-div-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f1f4fc;
    padding: 9px 8px;
    gap: 10px;
  }

  .search-btn-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
  }

  .show-active-b {
    width: fit-content;
    max-width: 129px;
    height: 41px;
    padding: 11px 14px;
    border-radius: 8px;
    background-color: var(--113D);
    color: var(--ffff);
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-wrap: nowrap;
    text-align: center;
  }

  .show-text-b {
    max-width: 129px;
    width: fit-content;
    height: 41px;
    padding: 11px 14px;
    border-radius: 8px;
    color: var(--3333);
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-wrap: nowrap;
    text-align: center;
  }

  .btn-g {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .sub-title-text {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    color: var(--0303);
  }

  .summer-text {
    max-width: 1048px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--3333);
    text-align: justify;
  }

  .abstract-box {
    margin-top: 58px;
  }

  .abstract-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--3333);
    text-align: justify;
  }

  .ask-box {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 14px;
    box-shadow: 0px 0px 0px 6px #113dcd1a;
    border: 1px solid var(--e0e9);
    border-radius: 8px;
  }

  .sectionOne {
    display: flex;
    gap: 30px;
  }

  .sectionTwo {
    // width: 50%;
    display: flex;
    gap: 30px;
  }

  .title-section {
    width: 80%;
    min-width: 476px;
  }

  .active-title-section {
    width: 70%;
  }

  .sectionTwo-details {
    width: 80%;
  }

  .active-sectionTwo-details {
    width: 70%;
  }

  .sectionOne-tool-bar {
    width: 20%;
  }

  .active-sectionOne-tool-bar {
    width: 30%;
  }

  .sectionTwo-author-details {
    width: 20%;
  }

  .active-sectionTwo-author-details {
    width: 30%;
  }

  .search-histroy-conatiner {
    border: 1px solid #e0e9f4;
    box-shadow: 0px 4px 28px 0px #0000000a;
    border-radius: 8px;
    background-color: #ffffff;

    .search-dropdown {
      padding: 15px 26px 15px 26px;

      .search-item {
        color: #333333;
        cursor: pointer;

        &:hover {
          color: #113dcd;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .btn-search {
      width: 100%;
      margin-bottom: 8px;
    }

    .sectionOne {
      width: 100%;
      flex-direction: column;
      gap: 30px;
    }

    .sectionOne-tool-bar {
      width: 100%;
    }

    .section-menus {
      padding: 8px;
      background-color: #f1f4fc !important;
      border-radius: 8px;
      display: flex;
      gap: 8px;
      flex-wrap: nowrap;
      overflow-y: auto;
      text-wrap: nowrap;
    }

    .body1 {
      color: var(--black-light);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin: 0;
    }

    .sectionTwo {
      width: 100%;
      flex-direction: column;
      gap: 30px;
    }

    .title-section {
      width: 100%;
    }

    .sectionTwo-details {
      width: 100%;
    }

    .sectionTwo-author-details {
      width: 100%;
    }

    // .btn-c {
    //   width: fit-content;
    // }
  }

  @media (max-width: 1024px) {
    .left-w-o {
      width: calc(100% - 250px);
    }

    .side-bar {
      max-width: 250px;
    }

    .side-items {
      font-size: 14px;
    }
  }

  @media (max-width: 992px) {
    & {
      padding: 28px;
    }

    .title-text {
      font-size: 26px;
    }

    .feed-flex {
      flex-wrap: wrap;
    }

    .search-box {
      display: block;
    }

    .review-box {
      margin-top: 40px;
    }

    .search-div-box {
      margin-top: 40px;
    }

    .sub-title-text {
      margin-top: 18px;
      font-size: 20px;
    }

    .summer-text {
      font-size: 14px;
      font-weight: 400;
    }
  }

  @media (max-width: 768px) {
    .main-div {
      display: block;
    }

    .left-w-o {
      width: 100%;
    }

    .side-bar {
      margin-top: 40px;
      max-width: 100%;
    }

    .side-items {
      font-size: 12px;
    }
  }

  @media (max-width: 576px) {
    & {
      padding: 12px;
    }

    .title-text {
      font-size: 20px;
    }

    .pra-text {
      font-size: 14px;
    }

    .feed-published-box {
      padding: 12px;
    }

    .review-box {
      margin-top: 30px;
    }

    .search-div-box {
      margin-top: 30px;
    }

    .sub-title-text {
      margin-top: 16px;
      font-size: 18px;
    }

    .post-pra {
      margin-top: 6px;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
