#SelectedLanguagemodel {
    .language-show {
        height: 360px;
        overflow-y: auto;

        .language-item {
            cursor: pointer;

            &:hover {
                color: #113DCD;
            }

            &.selected {
                color: #113DCD;

            }
        }
    }
}