.details-container {

    .details-box {
        padding: 38px;
        border-radius: 12px;
        background-color: var(--cd0f);

        .details-title {
            font-size: 22px;
            font-weight: 600;
            line-height: 26.63px;
            color: var(--1D26);
            margin-bottom: 22px;

        }

        .gap-r {
            gap: 6px;
        }

        .details-t {
            font-size: 14px;
            font-weight: 400;
            line-height: 16.94px;
            color: var(--5b6b);
            margin-bottom: 0;

        }

    }

    .title-project {
        font-size: 18px;
        font-weight: 500;
        line-height: 21.78px;
        color: var(--1D26);
        margin-bottom: 8px;

    }

    .title-list {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        color: var(--113D);
        margin-bottom: 24px;

    }

    .row-gap {
        row-gap: 18px;
    }

    .published-box {
        padding: 24px;
    }

    .post-published {
        padding: 4px 7px;
        background-color: var(--451a);
        display: flex;
        border-radius: 3px;
    }

    .text-b {
        font-size: 10px;
        font-weight: 500;
        line-height: 12.1px;
        color: var(--075e);
    }

    .post-title {
        margin-top: 8px;
        max-width: 700px;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.78px;
        color: var(--113D);

    }

    .post-pra {
        margin-top: 8px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        color: var(--1D26);

    }

    .post-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .docs-box {
        margin-top: 24px;
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .docs-title {
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        color: var(--5b6b);

    }


    @media (max-width:576px) {

        .post-title {
            margin-top: 6px;
            font-size: 16px;

        }

        .post-pra {
            margin-top: 6px;
            font-size: 14px;
            font-weight: 400;

        }

        .docs-box {
            margin-top: 16px;
        }

        .docs-title {
            font-size: 12px;
        }
    }
}