#textInputwithDropdown-container{
    .text-input-block {
        position: relative;
        display: flex; 
        align-items: center;
         gap: 10px;
        
    border: 1px solid #E0E9F4;

        input {
          flex: 1; /* Allows input to take available space */
          height: 52px;
        
          font-size: 16px;
          border : none;
          border-radius: 6px;
          background-color: var(--ffff);
          outline: none;
        }
        input:focus,
        input:active {
          border: none;
          outline: none;
          box-shadow: none; /* Removes any shadow effect */
        }
        .dropdown-select {
          height: 52px;
           padding: 10px;
          font-size: 16px;
          outline: none;
        border : none;
          border-radius: 6px;
          background-color: var(--ffff);
          cursor: pointer;
        }
        .dropdown-select:focus,
        .dropdown-select:active {
          border: none;
          outline: none;
          box-shadow: none; /* Removes any shadow effect */
        }
      }
}

  