.profile-modal-container {
    .title-text {
        font-size: 22px;
        font-weight: 600;
        line-height: 26.63px;
        color: var(--113D);
        margin-bottom: 16px;

    }

    .sub-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 21.78px;
        color: var(--0303);
        text-align: start;
        margin-bottom: 16px;

    }

    .details-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 16px;

        .details-block {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            gap: 10px;

            .number-block {
                border: 1px solid var(--3333);
                height: 27px;
                width: 27px;
                border-radius: 50%;
                font-size: 16px;
                font-weight: 500;
                color: var(--3333);
                text-align: center;
                vertical-align: middle;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .number-block-a {
                border: 1px solid var(--113D);
                height: 27px;
                width: 27px;
                border-radius: 50%;
                font-size: 16px;
                font-weight: 500;
                color: var(--3333);
                text-align: center;
                vertical-align: middle;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .active-selection {
                height: 27px;
                width: 27px;
            }
        }

        .border-saprator {
            // max-width: 171px;
            // min-width: 70px;
            width: 100%;
            height: 0px;
            border: 1px dashed var(--3324);
        }

        .active-border {
            border-color: var(--cd80);
        }
    }

    @media (max-width:992px) {

        .details-list {

            justify-content: center;



        }

    }
}