#Navbar-container {
    margin-left: 40px;
    margin-right: 40px;
    height: 77px;
    flex-grow: 1;

    .click-icon {
        margin-right: 14px;
    }

    @media (max-width : 992px) {
        margin-left: 14px;
        margin-right: 14px;
    }
}