#userhome-container{
    flex-grow: 1;
 
.hero-section{
    min-height:458px ;
  
    background: linear-gradient(102.86deg, #F4F6FC 25.91%, #ECF0FE 86.65%);

    .header-left{
        // padding-left: 82px;
        .header-text{
       max-width: 500px;

            h1{
                line-height: 59px;
            }
          
        }
    }
   
}

.card-section{
    margin-top: 80px;
    .card-header{
        .card-text{
            font-family: Inter;
font-size: 22px;
font-weight: 600;
line-height: 26.63px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color : var(--0303)
        }
        .card-link{
            font-family: Inter;
            font-size: 16px;
            font-weight: 500;
            line-height: 19.36px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
color : var(--113D)            
        }
    }
    .card{
        padding:32px 24px 22px 32px;
        border: 1px solid #3333331C;
        .card-title{
            h1{
                font-family: Inter;
font-size: 28px;
font-weight: 500;
line-height: 32px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: var(--0303);
            }
        }
        .card-text{
            span{
                font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 16.94px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color : var(--6F90)

            }
        }

        .views-container{
            .view-text{
                h1{
                    font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 28px;
letter-spacing: -0.0025em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color : var(--0303)
                }
                span{
                    font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: -0.0025em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color : var(-3333)
                }
            }
        }

        .image-carousel{
            display: flex;
            align-items: center;
            .carousel-image{
                position: relative;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                border: 2px solid #fff;
                margin-left: -10px; /* Overlap effect */
                z-index: 1;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
            }
            .extra-count {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                background-color: #ccc;
                border-radius: 50%;
                border: 2px solid #fff;
                margin-left: -10px;
                z-index: 0;
                font-size: 14px;
                font-weight: bold;
                color: #333;
              }
        }
    }
}
}