#breadcrumb-container {

    .lat-row {
        font-size: 13px;
        font-weight: 400;

        &:last-child {

            font-size: 13px;
            font-weight: 400;
            line-height: 15.73px;
            color: var(--5b6b);
        }
    }
}